:root {
  --dark-bg-color: #1b1919;
  --dark-heading-color: #1b1919;
  --dark-text-color: #eee;
}

/* Default styles for small margins (e.g., for mobile) */
html,
body {
  scroll-behavior: smooth;
  height: 100%;

  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.canvas {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

#page-content {
  flex: 1 0 auto;
  min-height: calc(
    100vh - 56px
  ); /* Adjust the 56px based on the height of your navbar and footer */
}

/* Media query for larger margins on desktop */
@media (min-width: 768px) {
  html,
  body {
  }

  #page-content {
    min-height: calc(
      100vh - 76px
    ); /* Adjust the 76px based on the height of your navbar and footer including the larger margin */
  }
}
